@import "../../vars.css";

.container {
  margin-top: 76px;
  margin: auto;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  /* width: 1100px; */
}
.container img{
    width: 300px;
    height: 200px;
}
.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /* margin-left: 200px; */
  width: 100%;
}

.containerr {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  height: 0.2px;
  margin-top: 7%;
}
.coloredword{
  color: var(--color-ho);
}
.description {
  /* margin-top: 1px; */
  font-size: 20px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 23px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}
.more_projects{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5rem;
  font-size: 1.5rem;
}
 /* @media screen and (max-width:830px){
    .container{
      height: 250vh;
    }
 
} */
/*
@media screen and (max-width:500px){
} */

@media screen and (max-width: 500px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .title {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .projects {
    margin-top: 20px;
  }

  .skills {
    margin-top: 10px;
  }

  .skill {
    font-size: 18px;
  }

  .links {
    margin-top: 20px;
  }

  .link {
    font-size: 24px;
  }

  .more_projects {
    font-size: 1.2rem;
  }

  /* Additional adjustments to remove unwanted space */
  .contact-component {
    margin-top: 0; /* Adjust as needed */
  }
}

