:root{
    /*color*/
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark:#0b2447;
    --color-bg: #04152d;
    --color-ho:#F38B08;
    /* Fonts */
    --font-roboto: "Roboto";
}

/* #780d4f */